/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.primary {
  color: #4c6621;
}
.secondary {
  color: #000000c2;
}
